<!DOCTYPE html>
<html lang="en" data-ng-app="localhost" data-ng-csp="">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="stylesheets/application.css" />
  <title>Localhost WebApps</title>
</head>

<body>
  <div class="wrapper">
    <h1>Localhost WebApps</h1>
    <input type="text" placeholder="Search WebApp" data-ng-model="name" />

    <ul class="apps" data-ng-controller="AppsController">
      <li data-ng-repeat="app in apps | filter: search">
        <a href="http://localhost/{{app}}">
          {{ app }}
          <span class="ignore" title="Ignore" data-ng-click="ignore($event, $index)"></span>
        </a>
      </li>
    </ul>
  </div>

  <script src="javascripts/angular.min.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/application.js"></script>
</body>
</html>